<div id="template_nodeeth" class="hid">
	<li class="node">
		<span class="icon">@@@name@@@</span>
		<span class="mac">mac:@@@mac@@@</span>
		<span class="netType hid">@@@netType@@@</span>
		<span class="ip hid">@@@ip@@@</span>
		<span class="netmask hid">@@@netmask@@@</span>
		<ul class="net_config_list">
			<li style="display:none"><div class="checkbox" data-val="managenet">管理网络</div></li>
			<li style="display:none"><div class="checkbox" data-val="storagenet">存储网络</div></li>
			<li style="display:none"><div class="checkbox" data-val="datanet">数据网络</div></li>
			<li style="display:none"><div class="checkbox" data-val="outernet">外部网络</div></li>
		</ul>
	</li>
</div>