<div id="template_node" class="hid">
	<li class="node_item">
		<span class="icon" data-val="@@@nodename@@@"></span>
		<div class="node_item_main">
			<div class="node_left">
				<span class="node_name">@@@nodename@@@</span>
				<span class="node_tip" data-isnew="@@@is_new@@@">@@@roles@@@</span>
				<span class="node_desc">
					MAC: @@@macaddress@@@ CPU: @@@physicalprocessorcount@@@ (@@@processorcount@@@) HDD: @@@hdd@@@ RAM: @@@ram@@@
				</span>
			</div>
			<div class="node_right">
				<span class="node_setup" data-name="@@@nodename@@@"></span>
				<span class="setup_process" data-node="@@@nodename@@@" style="display:none">
<!-- 					<span>正在安装</span><span class="target">Computer</span> -->
				</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</li>
</div>