<div class="overlay upd_license_div" style="display:none;">
	<div class="updlicense_wrapper">
		<div class="header">
			<div class="updlicense_wrapper_title">
				配置
			</div>
			<a href="#" class="close_btn">
			X
			</a>
		</div>
		
		
		
		<div class="content">
			<div id="file_license" class="webuploader-container"></div>
			<textarea readonly></textarea>
		</div>
		
		<div class="footer">
			<div class="hr_1"></div>
			<div class="oper_area">
				<span class="btn save">保存</span>
				<span class="btn cancel">取消</span>
			</div>
		</div>
	</div>
</div>