{% load i18n %}
{% load url from future %}
<ul class="nav pull-right" id="user_info">
  {% if HORIZON_CONFIG.help_url %}
  <li><a href="{{ HORIZON_CONFIG.help_url }}" target="_new">{% trans "Help" %}</a></li>
  {% endif %}
  <li class="dropdown {% if request.horizon.dashboard.slug == "settings" %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="rcueicon rcueicon-user"></span> {% blocktrans with username=request.user.username %}{{ username }}{% endblocktrans %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li{% if request.horizon.dashboard.slug == "settings" and request.horizon.panel.slug == "user" %} class="active"{% endif %}><a href="{% url 'horizon:settings:user:index' %}">{% trans "Settings" %}</a></li>
      <li{% if request.horizon.dashboard.slug == "settings" and request.horizon.panel.slug == "password" %} class="active"{% endif %}><a href="{% url 'horizon:settings:password:index' %}">{% trans "Change Password" %}</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}">{% trans "Sign Out" %}</a></li>
    </ul>
  </li>
  {% include "horizon/common/_region_selector.html" %}
</ul>
