default vesamenu.c32
#prompt 1
timeout 600

display boot.msg

menu background splash.jpg
menu title PRODUCT_NAME
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000
menu color tabmsg 0 #ffffffff #00000000
menu color unsel 0 #ffffffff #00000000
menu color hotsel 0 #ff000000 #ffffffff
menu color hotkey 7 #ffffffff #ff000000
menu color scrollbar 0 #ffffffff #00000000

label mcos
  menu label Install
  kernel vmlinuz
  append ks=cdrom:/isolinux/mcos.cfg initrd=initrd.img
  #append initrd=initrd.img
label memtest86
  menu label ^Memory test
  kernel memtest
  append -

