#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
#firstboot --enable
#ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

#selinux --disabled
#firewall --disabled

# Network information
#network  --bootproto=dhcp --device=eno16777736 --onboot=off --ipv6=auto
#network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$pA5eFRX1mTfB3oc9$maJTtTolqFdI6x.aF/Bmzkxc7UD/9qovuGZnqK72xpwUDXXrBY1Tl0sWqM0slXXBIwXIGq6GTKaV.7qKQp5O40
# System timezone
timezone Asia/Shanghai --isUtc
user --name=ceph --password=$6$20VYBfwZClN840p.$mjztVmq/D58aGXpSO4H57Cet6rpcM23CDg6X7eSKJriKsymAGNxhlFBb1TRC1tP7FcDhOvklFLTMLjOFxIGzI. --iscrypted --gecos="ceph"
#user --name=byq --password=$6$x0s2qlIrvBbO2S6S$96te3uX8RoiC5XeYeXzoD20z9xCIj1DuddEe8epj2pI7bBW.DaPKYWgowP9dZm3kAHtvhlsQg2KkYPIdP.EMF1 --iscrypted --gecos="byq"
# System bootloader configuration
#bootloader --location=mbr --boot-drive=sda
#autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 
clearpart --all

%packages
@base
@core
chrony
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%post
sed -i "s/CentOS Linux 7 (Core), with Linux 3.10.0-229.el7.x86_64/Mcos-openstack/g" /etc/grub2.cfg
sed -i "s/CentOS Linux 7 (Core), with Linux 3.10.0-229.el7.x86_64/Mcos-openstack/g" /boot/grub2/grub.cfg
sed -i "s/CentOS Linux 7 (Core), with Linux 0-rescue/Mcos-openstack rescue/g" /etc/grub2.cfg
sed -i "s/CentOS Linux 7 (Core), with Linux 0-rescue/Mcos-openstack rescue/g" /boot/grub2/grub.cfg

#echo -e "NAME='Openstack system'\n\
#VERSION='1 (Core)'\n\
#ID='openstack'\n\
#ID_LIKE="rhel fedora"\n\
#VERSION_ID='1.1'\n\
#PRETTY_NAME='Openstack 1.1'\n\
#ANSI_COLOR='0;31'\n\
#CPE_NAME='cpe:/o:openstack:openstack:1'\n\
#HOME_URL='https://www.centos.org/'\n\
#BUG_REPORT_URL='https://bugs.centos.org/'" > /etc/os-release

#echo -e "Openstack release" > /etc/system-release

#/usr/local/bin/change-dashboard-style
echo "ceph ALL = (root)NOPASSWD:ALL" | tee /etc/sudoers.d/ceph
chmod 0440 /etc/sudoers.d/ceph
sed -i "s/Defaults    requiretty/Defaults    !requiretty/g" /etc/sudoers

runuser ceph -s /bin/bash -c "ssh-keygen -t rsa -N '' -f /home/ceph/.ssh/id_rsa"

hostnamectl set-hostname "master.server.com"
systemctl disable firewalld
systemctl stop firewalld
sed -i '/^SELINUX=/ s/^SELINUX=.*/SELINUX=disabled/g' /etc/selinux/config
setenforce 0

cd /usr/share/python-lib-src/
tar zxvf pexpect-2.3.tar.gz
cd /usr/share/python-lib-src/pexpect-2.3
python setup.py install

systemctl enable mplatform
systemctl start mplatform
%end

