[Unit]
Description=OpenStack ceilometer alarm notification service
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-alarm-notifier --logfile /var/log/ceilometer/alarm-notifier.log

[Install]
WantedBy=multi-user.target

