[Unit]
Description=OpenStack Nova XVP VncProxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-xvpvncproxy

[Install]
WantedBy=multi-user.target

