{% load branding horizon i18n %}
{% load url from future %}

<div class="header rcue clearfix">
  <div class="navbar utility">
    <div class="navbar-inner">
      <a class="brand" href="{% url 'horizon:user_home' %}"><img src="/static/dashboard/img/brand.svg" alt="{% site_branding %}" /></a>
      {% horizon_main_nav %}
      {% include "_header.html" %}
      {% if request.horizon.dashboard.supports_tenants %}
      <ul class="nav pull-right">
        <li id="tenant_switcher" class="dropdown switcher_bar" tabindex="1">
          {% with num_of_tenants=authorized_tenants|length %}
            {% if num_of_tenants > 1 %}
              <a class="dropdown-toggle" data-toggle="dropdown" href="#tenant_switcher">
            {% endif %}
              <span class="label">{% trans "Current Project" %}</span>
              <span class="name">{{ request.user.tenant_name }}</span>
            {% if num_of_tenants > 1 %}
            </a>
            {% endif %}

            {% if num_of_tenants > 1 %}
              <ul id="tenant_list" class="dropdown-menu">
                {% for tenant in authorized_tenants %}
                  {% if tenant.enabled and tenant.id != request.user.tenant_id %}
                    <li><a href="{% url 'switch_tenants' tenant.id %}?next={{ request.horizon.dashboard.get_absolute_url }}">{{ tenant.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </li>
      </ul>
      {% endif %}

      {% with num_of_regions=request.user.available_services_regions|length %}
      {% if num_of_regions > 1 %}
      <ul class="nav pull-right">
        <li id="services_region_switcher" class="dropdown switcher_bar" tabindex="1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#services_region_switcher">
            <span class="label">{% trans "Managing Region" %}</span>
            {{ request.user.services_region }}
          </a>

          <ul id="services_regions_list" class="dropdown-menu">
              {% for region in request.user.available_services_regions %}
              <li><a href="{% url 'switch_services_region' region %}?next={{ request.horizon.panel.get_absolute_url }}">{{ region }}</a></li>
              {% endfor %}
          </ul>
        </li>
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="navbar primary persistent-secondary">
    <div class="navbar-inner">
      <ul class="nav">
        {% horizon_dashboard_nav %}
      </ul>
    </div>
  </div>
</div>
