[KdmGreeterTheme]
Greeter=CentOS7.xml
Name=Community Enterprise Operating System 7
Author=The CentOS Project
Copyright=(C) 2014 The CentOS Project
Screenshot=screenshot.png
